version: 0.1.0-{build}
image: Visual Studio 2022
environment:
  DOTNET_CLI_TELEMETRY_OPTOUT: 1
init:
  - git config --global core.autocrlf true
install:
  - ps: .\.psscripts\install-dotnet.ps1 -SdkVersions "7.0.304"
build: off
build_script:
  - ps: .\build.ps1
test: off
artifacts:
  - path: '**\giraffe-template.*.nupkg'
    name: Giraffe Template package
nuget:
  account_feed: false
  project_feed: true
deploy:
  provider: NuGet
  api_key:
    secure: U0+zbuUi8+HYyp6Ks14srAKnN379SjFH+Se7wwVwyDMQ+OmghTby2HZrZMtiQvnv
  skip_symbols: false
  artifact: /.*\.nupkg/
  on:
    appveyor_repo_tag: true
