storage: none
framework: auto-detect
source https://api.nuget.org/v3/index.json

nuget Giraffe ~> 5.0.0-rc-1
nuget Giraffe.ViewEngine
nuget Microsoft.NET.Test.Sdk
nuget Microsoft.AspNetCore.TestHost
nuget xunit
nuget xunit.runner.visualstudio