storage: none
framework: net6.0 
source https://api.nuget.org/v3/index.json

nuget FSharp.Core ~> 6.0.0
nuget Giraffe ~> 6.0.0
nuget Microsoft.NET.Test.Sdk
nuget Microsoft.AspNetCore.TestHost ~> 6.0.0
nuget xunit
nuget xunit.runner.visualstudio
