storage: none
framework: auto-detect
source https://api.nuget.org/v3/index.json

nuget Giraffe ~> 6.4.0
nuget Giraffe.Razor >= 5.1.0 prerelease
nuget Microsoft.AspNetCore.Mvc.Razor.RuntimeCompilation ~> 8.0
nuget Microsoft.NET.Test.Sdk
nuget Microsoft.AspNetCore.TestHost
nuget xunit
nuget xunit.runner.visualstudio
